{% extends 'base.html' %}
{% block pagetitle %}
Team Deatils
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>👨‍💻 Team Deatils 👨‍💻</b></h1>
        <p class="lead" style="font-weight: 500;color: black;"><strong>Project : Plant Disease Detection </strong> </p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Team G-04</h3>
            </center>
            <div>
                <h4>Team Members : </h4>
                <ul style="list-style: none; padding: 0;">
                    <li style="display: flex; align-items: center; margin-bottom: 10px;">
                        <i class="fa fa-user" style="font-size: 24px; margin-right: 10px;"></i>
                        <p class="lead" style="font-weight: 350; margin: 0;">Mustafa Masuldar (Team Leader)</p>
                    </li>
                    
                    <li style="display: flex; align-items: center; margin-bottom: 10px;">
                        <i class="fab fa-github" style="font-size: 24px; margin-right: 10px;"></i>
                        <a href="https://github.com/Mmustafa-772002/Plant-Disease-Detection" class="lead" style="font-weight: 350; text-decoration: none; color: black;">Github Repository</a>
                    </li>
                    <li style="display: flex; align-items: center; margin-bottom: 10px;">
                        <i class="fab fa-google-drive" style="font-size: 24px; margin-right: 10px;"></i>
                        <a href="https://drive.google.com/drive/folders/1vHoPYXL-hIOTMRiAg43qdAlVgEKl9LzS?usp=drive_link" class="lead" style="font-weight: 350; text-decoration: none; color: black;">Google Drive</a>
                    </li>
                    
                </ul>
                  
                
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            
            <h3>Objective : </h3>
            <ul>
                <p class="lead" style="font-weight: 350;"><li>A Plant Disease Detection project is an application of technology that aims to identify and diagnose diseases in plants using various methods, machine learning techniques. This type of project has significant practical applications in agriculture and horticulture, as it helps farmers and researchers monitor and manage plant health more effectively. </li>
                </p>
            </ul>
            <h3>Benefits:</h3>
            <ul>
                <p class="lead" style="font-weight: 350;">
                    
                    <li><strong>Early Disease Detection: </strong> </li>This project helps in the early detection of diseases in plants, which can lead to timely intervention and better disease management. <br>
                    <li><strong> Increased Crop Yield:</strong> </li> By identifying and treating plant diseases promptly, farmers can protect their crops and improve yield. <br>
                    <li><strong> Reduced Chemical Use:</strong> </li> Targeted treatments based on disease identification can reduce the unnecessary use of pesticides and fertilizers. <br>
                </p> 
            </ul>
            
            
        </div>
    </div>
    
    
    {% endblock body %}
</div>      









