<html>
  {% extends 'base.html' %}
  {% block pagetitle %}
    Plant Disease Detection
  {% endblock %}

  {% block body %}
    <div>
      <div class="container">
        <!-- For demo purpose -->
        <div class="row mb-5 text-center text-white">
          <div class="col-lg-10 mx-auto">
            <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>👨‍🌾 Plant Disease Detection 👨‍🌾</b></h1>
            <p class="lead" style="font-weight: 500;color: black;">Let Plant Disease Detection Will Help You To Detect Disease</p>
          </div>
        </div>
        <!-- End -->
        <div class="row">
          <div class="col mx-auto">
            <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
              <h5><b>Why is it necessary to detect disease in plant ?</b></h5>
              <p><strong>Early Intervention:</strong> Prevents disease spread and minimizes crop damage.</p>
              <p><strong>Crop Protection:</strong> Reduces economic losses and food shortages.</p>
              <p><strong>Optimized Treatment:</strong> Targets treatments, reduces chemical use, and environmental impact.</p>
              <p><strong>Improved Yield and Quality:</strong> Results in better yields and higher-quality crops.</p>
              <p><strong>Sustainable Agriculture:</strong> Maintains eco-friendly farming practices and ensures food security.</p>
              <p><strong> Government schemes for  farmers: </strong></p>
              <center>
                <a target="_blank" href="https://pmkisan.gov.in/" class="mx-2"><button type="button" class="btn btn-outline-success">Important links</button></a>
              </center>
              
          
            </div>
          </div>
          <div class="col mx-auto">
            <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
              <img src="https://as1.ftcdn.net/v2/jpg/05/82/43/40/1000_F_582434034_qlnjUIGewfqHWBPVnnvWQTWpJp9aCS7H.jpg" height="300" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill" />

              <!-- Default bootstrap file upload -->

              <form action="/submit" method="POST" enctype="multipart/form-data">
                <div class="custom-file overflow-hidden mb-4">
                  <input type="file" id="actual-btn" hidden name="image" />
                  <label for="actual-btn">Choose File</label>
                  <span id="file-chosen">No file chosen</span>
                </div>

                <!-- End -->

                <h6 class="text-center mb-4 text-muted">Simply upload your plant's leaf image and then see the magic of AI.</h6>

                <!-- Custom bootstrap upload file -->
                <center>
                  <a class="mx-2"><button type="submit" class="btn btn-outline-success">Submit</button></a>
                </center>
              </form>
              <!-- End -->
            </div>
          </div>
          <div class="col mx-auto">
            <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
              <h5><b>Prevent Plant Disease follow below steps:</b></h5>
              <p><strong>Companion Planting:</strong> Use plants that deter pests or attract beneficial insects.</p>
              <p><strong>Hygienic Handling:</strong> Wash hands and tools to avoid disease transmission.</p>
              <p><strong>Early Intervention:</strong> Act promptly when you see disease signs prune or treat.</p>
              <p><strong>Organic Practices:</strong> Use organic gardening for natural disease prevention.</p>
              <p><strong>Collaborate with Experts:</strong> Seek advice from local agricultural services or experienced gardeners.</p>
            <center>
              <a target="_blank" href="https://eos.com/blog/crop-diseases/" class="mx-2"><button type="button" class="btn btn-outline-success">More info</button></a>
            </center>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const actualBtn = document.getElementById('actual-btn')
      
      const fileChosen = document.getElementById('file-chosen')
      
      actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
      })
    </script>
  {% endblock %}
</html>
